/target/
!.mvn/wrapper/maven-wrapper.jar
/node_modules/
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.java-version

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env
boomhauser-venv
.vscode
.devcontainer
.cursor
fish_env
__pycache__


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### pytest ###
*,cover
.coverage
